doctype html
html
	head
		title= title
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='javascripts/jquery-ui-1.10.4.custom/css/pepper-grinder/jquery-ui-1.10.4.custom.min.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Cabin|Open+Sans+Condensed|Marmelad|Enriqueta|Oswald:300|Amaranth|Actor|Droid+Sans+Mono')

		script(src='javascripts/d3.min.js', type='text/javascript')
		script(src='javascripts/jQuery-1.11.0.min.js', type='text/javascript')
		script(src='javascripts/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js', type='text/javascript')
		script(src='javascripts/bootstrap.min.js', type='text/javascript')
		script(src='javascripts/hexbin.js', type='text/javascript')
		script(src='javascripts/jquery.arrow-increment.js', type='text/javascript')
		script(src='javascripts/site.js', type='text/javascript')
	
	body
		include index.html
